<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-header>
        <!-- <ion-navbar>
          <ion-buttons start>
            <button ion-button icon-only>
              <ion-icon name="contact"></ion-icon>
            </button>
          </ion-buttons>
      
          <ion-buttons end>
            <button ion-button icon-only>
              <ion-icon name="search"></ion-icon>
            </button>
          </ion-buttons>
        </ion-navbar> -->
      </ion-header>
<ion-list>
<ion-row>
    <ion-item col-4>
      <ion-label>Bitcoin</ion-label>
    </ion-item>

    <ion-item col-4>
      <ion-label> 3</ion-label>
    </ion-item>

    <ion-item col-4>
        <ion-label> BTC</ion-label>
      </ion-item>
  </ion-row>

  <ion-row>
      <ion-item col-4>
        <ion-label>Ripper</ion-label>
      </ion-item>
  
      <ion-item col-4>
        <ion-label> 100 </ion-label>
      </ion-item>
  
      <ion-item col-4>
          <ion-label> Xrp</ion-label>
        </ion-item>
    </ion-row>



</ion-list>



  </ion-list>
  <ion-button (click)="buying()" >+</ion-button>
</ion-content>
