<ion-header>
  <ion-toolbar>
    <ion-title>Buying</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <ion-label>Trade</ion-label>
      <ion-select value="brown" okText="Okay" cancelText="Dismiss">
        <ion-select-option value="BTC">Brown</ion-select-option>
        <ion-select-option value="ETH">Blonde</ion-select-option>
        <ion-select-option value="USD">Black</ion-select-option>
        <ion-select-option value="CAD">Red</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-labl>
        Avalible Balance n USD
      </ion-labl>
    </ion-item>
    <ion-item>
      <ion-labl>
        US you spend
      </ion-labl>
      <ion-item>
        <ion-input type="number" value=""></ion-input>
      </ion-item>
      <ion-item>
        <ion-labl>
          Price per BTC xxx
        </ion-labl>
        <ion-item>
          <ion-input type="number" value=""></ion-input>
        </ion-item>
        <ion-item>
          <ion-labl>
            BTC your receive
          </ion-labl>
          <ion-item>
            <ion-label>{{ text }}</ion-label>
          </ion-item>
          <ion-item>
            <ion-button>Order</ion-button>
          </ion-item>
        </ion-item>
  </ion-list>
</ion-content>